@import "blocks/main-nav.less";
.clearfix{
    .clearfix::after {
    content: "";
    display: table;
    clear: both;
}
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.page-header{


    &__wrapper{
        padding: 0px 11%;


    }
    &__mobmenu{
    width: 100%;
        position: relative;
    }
    &__logo {
    text-align: center;

        padding-top: 20px;
        margin-bottom: 15px;

    }
    &__mlink{
        color:black;

    }
    .fa-bars{
        position: absolute;
        right: 0;
    }

    }
@media(min-width:768px){
	.page-header{
		&__wrapper{
		padding: 0px 6%;
		}
		&__mobmenu{
			display: none;

		}
	}


}
.main-nav{
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        font-weight: bold;
        font-size: 17px;
       text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid #ececec;
    }
    &__item:nth-child(3){

        background-image: url(../img/menu-search.png);
        background-repeat: no-repeat;
        background-position:0% 50%;
    }
    &__item4{
    background-image: url(../img/menu-cart.png);
        background-repeat: no-repeat;
        background-position:0% 50%;
    }
    &__link{
        text-decoration: none;
        color: black;


    }
}
@media(min-width:768px){
	.main-nav{
		&__list{
			display: flex;
            flex-wrap: wrap;


		}
		&__item{
			padding: 0;
			border-top: none;
            height: 90px;
            display: flex;

            align-items: center;



		}
        &__item1{
        order:1;
        width: 46%;

            text-align: left;

        }
        &__item2{
        order:4;

            width: 23%;
            text-align: left;
        }
        &__item3{
        order:5;

            width: 23%;
            text-align: left;

        }
        &__item4{
        order:2;
            width: 11%;
background-image: url(../img/menu-search.png);
            text-align: center;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            font-size: 0;
            background-position:50% 50%;

        }
        &__item5{
        order:3;
            width: 42%;
            text-align: right;
            background-image: url(../img/menu-cart.png);
            background-repeat: no-repeat;
            background-position:20% 50%;
            justify-content: flex-end;
            margin-left: 0.5%;


        }
        &__item6{
            order:6;
            width: 54%;
            justify-content: flex-end;
            font-weight: 100;

        }
        &__link{



        }

	}

}
.main-nav__link{

}

.main-preview{
    &__wrapper{
        padding: 0px 11%;
    }
    &__header{
        margin: 0;
        font-size: 27px;
        text-align: center;
        padding-top:75px;
        padding-bottom:115px;
        background-image: url(../img/hero-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    &__item1,&__item2{

        background-color:#63d1bb;
        font-size: 19px;
        font-weight: bold;
        color: white;
    }
    &__item1{
        background-image: url(../img/main-preview__item1png.png);
        background-repeat: no-repeat;
        background-position:89% 50% ;
    }
    &__item2{
        background-color:#56c3b2;
        background-image: url(../img/main-preview__item2.png);
        background-repeat: no-repeat;
        background-position:90% 50% ;

    }
    &__item1-text,&__item2-text{
        margin: 0;
        margin-left: 11%;
        width: 100px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

.bestin-week{
    &__wrapper{
            padding: 0px 11%;
    }
    &__item{
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        padding-top: 25px;
    }
    &__header{
        margin: 0;
        font-size:17px;
        font-weight: bold;
        color:#82dac9;
        text-transform: uppercase;
        padding-top: 10px;
    }
    &__description{
        margin: 0;
        font-size:15px;
        width:245px;
        padding-top: 30px;
        padding-bottom: 30px;

    }
    &__char{
    font-size: 15px;
        width: 100%;
        & tr{


        }

        & td{
            padding-right: 20px;
            border-bottom: 1px solid #ececec;

        }

    }
    &__photo{
        padding-top: 28px;
        width: 100%;
    }
    &__count{
        margin: 0;
        text-align: center;
        padding-top:25px;
        padding-bottom: 25px;
    }
    &__btn{
        display: inline-block;
        text-align: center;
        padding-top:20px;
        padding-bottom: 20px;
        text-decoration: none;
        color:black;
        width: 100%;
        border: 2px solid black;
        font-size:17px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;

    }

}

.main-about{
    margin-top: 30px;

    &__wrapper{
        padding: 0px 11%;
    }
     &__header{
        margin: 0;
        font-size: 25px;
         margin-bottom: 25px;
    }
    &__img{
        margin: 0;
        margin-bottom: 20px;
    }
    &__text{
        margin: 0;
    font-size:17px;
    font-weight: bold;
    margin-bottom: 20px;
        width: 76%;
    }
}
.main-reviews{
    margin-top: 35px;
    &__wrapper{
        padding: 0px 11%;
    }
    &__header{
    margin: 0;
    font-size:25px;
    }
    &__review{
        margin: 0;
        font-size: 17px;
        margin-top: 25px;
    }
    &__author{
        display: block;
        font-size:17px;
        font-weight: bold;
        margin-top:30px;
    }
    &__author-login
    {
        margin: 0;
        display: block;
        font-size:15px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    &__nav{
        .clearfix;
    }
    &__previous{
        display: block;
        font-size:0;
        width: 50%;
        background-image: url(../img/main-review_arrowLeft.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        height: 50px;
        float: left;
    }
    &__next{
        display: block;
        font-size:0;
        width: 50%;
        background-image: url(../img/main-review_arrowRight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        height: 50px;
        float: right;
    }
    &__btn{
        display: inline-block;
        text-align: center;
        padding-top:20px;
        padding-bottom: 20px;
        text-decoration: none;
        color:black;
        width: 100%;
        border: 2px solid black;
        font-size:17px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.main-contacts{
    margin-top:30px;
    &__wrapper{
        padding: 0px 11%;
    }
    &__header{
        margin: 0;
        font-size: 18px;
    }
    &__table{
        margin-top: 30px;
        font-size: 15px;
    }
    &__mail{


    }
    &__mail-td:nth-child(1),&__adress-td{
    padding-right:25px;
    }
    &__adress-p{
        margin: 0;
        margin-top:35px;
        width: 150px

    }
    &__map{
        display: block;
        height: 457px;
        background-image: url(../img/map-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__btn{
 display: inline-block;
        text-align: center;
        padding-top:20px;
        padding-bottom: 20px;
        text-decoration: none;
        color:black;
        width: 100%;
        border: 2px solid black;
        font-size:17px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px
    }
}
.main-footer{
    &__wrapper{
    padding: 0px 11%;
    }
}
.footer-social{
    display: inline-block;
    text-align: center;
    width: 101%;
    height: 55px;
    padding-top:25px;
    background-color: #f1f1f1;

    &__fb{
        margin-left: 16%;
        margin-right: 16%;

    }
}
.footer-copywrite{
    &__p{
        display: inline-block;
        width: 101%;
        margin: 0;
        font-size:19px;
        background-color: #f1f1f1;
        font-weight: bold;
        text-align: center;
        height: 55px;
    padding-top:25px;
        border-top: 1px solid lightgray;
    }
}
